
body {
    margin: 0;
    background-color: #152636; /* Cor de fundo clara, neutra */
    color: #2c3e50;  /* Cor do texto escura */
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
}

/*CABEÇALHO*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #2c3e50; /* Gradiente suave */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px #2c3e50; /* Sombra suave */
    margin: 20px; /* Adiciona um espaço entre o cabeçalho e o conteúdo */
}

/* Logo */
.logo-img {
    width: 150px;
    height: auto;
    border-radius: 50%;  /* Logo redonda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave na logo */
}

/* Links */
.links {
    display: flex;
    gap: 30px;
}

.links a {
    text-decoration: none;
    color: #f8bdc6;
    font-size: 18px;
    font-weight: 600; /* Deixar o texto mais forte */
    letter-spacing: 1px; /* Aumentar o espaçamento entre letras */
    transition: 0.3s ease;  /* Efeito suave no hover */
}

.links a:hover {
    color: #cc0ec2;
    transform: scale(1.1);  /* Efeito de aumento suave */
}

/* ADICIONANDO CONTEÚDO (Exemplo)*/
section {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f8bdc6;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
